<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hw.happyjacket.com.happylife" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/angry_robot"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".create_item"
            android:label="@string/title_activity_create_item" >
            <intent-filter>
                <action android:name="create_item" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".item_detail"
            android:label="@string/title_activity_item_detail" >
            <intent-filter>
                <action android:name="item_detail" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
